{% extends 'base.html' %}

{% block content %}
{% include 'partials/navbar.html' %}

<div class="container text-center">
    {% if attack.name == "SQL Injection" %}
    <div class="sql-style">Special layout for SQL Injection</div>
    {% elif attack.name == "Phishing" %}
    <div class="xss-style">Special layout for XSS</div>
    {% elif attack.name == "Privilege Escalation" %}
    <div class="xss-style">Special layout for XSS</div>
    {% elif attack.name == "Brute-Force Attack" %}
    <div class="xss-style">Special layout for XSS</div>
    {% elif attack.name == "API Abuse Attack" %}
    <div class="xss-style">Special layout for XSS</div>
    {% elif attack.name == "Have I been Pwned" %}

    <h1 class="mt-5 white_color">Have I Been Pwned?</h1>
    <h2 class="mt-3 brighter_white_color">Check if your password is in a data breach</h2>
    <div class="row align-items-center">
    </div>
    {% else %}
    <div>Not found....</div>
    {% endif %} 
    {% include 'partials/footer.html' %}
    {% endblock %}