body {
    background-color: #fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url('../images/login_bg_2.webp') repeat-y center;
    background-size: cover;
    z-index: -2;
    animation: moveBackground 20s linear infinite;
}

/* Dark overlay */
body::after {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);  /* more black, adjust 0.6 as needed */
    z-index: -1;
}

@keyframes moveBackground {
    0% {
        background-position-y: 0%;
    }
    100% {
        background-position-y: 100%;
    }
}

.login-container {
    background: rgb(55, 55, 55);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 400px;
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

button:hover {
    background-color: #000000;
}

img{
    height: auto;
    width: 150px;
}

.asimovian-regular {
  font-family: "Asimovian", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.red_color {
    color: rgb(255, 0, 0);
    font-size: 45px;
}


.white_color {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.white_color_footer {
    color: rgb(255, 255, 255);
    font-size: 15px;
}