body {
    background-color: #fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url('../images/login_bg_2.webp') repeat-y center;
    background-size: cover;
    z-index: -2;
    animation: moveBackground 20s linear infinite;
}

/* Dark overlay */
body::after {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);  /* more black, adjust 0.6 as needed */
    z-index: -1;
}

@keyframes moveBackground {
    0% {
        background-position-y: 0%;
    }
    100% {
        background-position-y: 100%;
    }
}