* {
  font-family: "Asimovian", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button {
  width: 100%;
  padding: 8px;
  background-color: #ff0000;
  color: #c9d1d9;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

button:hover {
  background-color: #000000;
  color: #ff0000;
}

body {
  background: rgb(55, 55, 55);
}


