@import url(../css/background_body.css);
@import url(../css/generals.css);

h1 {
    font-size: 100px;
    margin-bottom: 20px;
    color: #f85149;
}

p {
    font-size: 20px;
    margin-bottom: 30px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #c9d1d9;
    margin-bottom: 40px;
}

button{
    width: 200px;
}