@import url(../css/background_body.css);
@import url(../css/generals.css);

.login-container {
    background: rgb(55, 55, 55);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgb(255, 0, 0);
    width: 400px;
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

img{
    height: auto;
    width: 150px;
}


.red_color {
    color: rgb(255, 0, 0);
    font-size: 45px;
}


.white_color {
    color: #c9d1d9;
    font-size: 20px;
}

.footer_style {
    color: #c9d1d9;
    font-size: 15px;
}

.message_toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  pointer-events: none;
}
.message_toast.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.header_login_toast{
    color: rgb(255, 0, 0);
    background: rgb(55, 55, 55);
}
.body_login_toast{
    background: #c9d1d9;
}

.close_button_color {
  filter: invert(100%);
}

.close_button_color:hover {
  filter: none;
  background-color: red;
}