{% extends 'base.html' %}

{% block content %}
{% include 'partials/navbar.html' %}
<div class="container text-center">
    <h1 class="mt-5 white_color">Welcome <span class="red_color">{{ session['user'] }}</span>!</h1>
    <h2 class="mt-3 brighter_white_color">Simulate real cyber-attacks in a safe test environment</h2>
    <div class="row align-items-center">
        {% for attack in attacks %}
        <div class="col-4 mt-5 mx-auto px-4">
            <div class="card custom_background">
                <div class="bg-dark custom_border">
                    <img src="../static/images/{{attack.img_url}}" class="card-img-top attacks_logo_size mt-2 mb-2">
                </div>
                <div class="card-body">
                    <h5 class="card-title font_bold">{{attack.name}}</h5>
                    <p class="card-text">{{attack.description}}</p>
                    <form action="{{ url_for('attacks.renderAttack', attack_id=attack.id) }}" method="GET">
                        <input type="hidden">
                        <div class="mx-5 px-5">
                            <button> Execute attack!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% else %}
        <p class="red_color custom_size">No attacks found!</p>
        {% endfor %}
    </div>
</div>

{% include 'partials/footer.html' %}
{% endblock %}