name: SRE Project - Destroy Infrastructure

on:
  workflow_dispatch:   # manual trigger is safer than auto on push

jobs:
  destroy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.14.0
          terraform_wrapper: false

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Terraform Init
        working-directory: ./terraform/eks
        run: |
          terraform init \
            -backend-config="bucket=sre-project-s3-dantr3-bucket" \
            -backend-config="key=sre-project/eks/terraform.tfstate" \
            -backend-config="region=us-east-1" \
            -backend-config="dynamodb_table=terraform-locks"

      - name: Terraform Destroy
        working-directory: ./terraform/eks
        run: terraform destroy -auto-approve
